/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

.container {
  border: 3px solid #62F587;
  border-radius: 10px;
  width: 375px;
  height: 600px;
  text-align: center;
  padding: 50px 10px;
  font-family: 'Oswald', sans-serif;
}

img {
  height: 150px;
  border-radius: 5px;
}

button {
  padding: 20px 60px;
  margin: 20px auto 0;
  border-radius: 10px;
  color: #173B20;
  background-color: darkkhaki;
}

