/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

.container {
  border: 3px solid #62F587;
  border-radius: 10px;
  width: 375px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  padding: 50px 10px;
  font-family: 'Oswald', sans-serif;
  background-color: #E5F2FF;
  font-size: larger;
}

img {
  height: 150px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  
}

button {
  padding: 20px 60px;
  margin: 20px auto 0;
  border-radius: 10px;
  color: #173B20;
  background-color: darkkhaki;
  font-weight: bold;
}

.submit-question {
  margin-top: 9px;
}

/* Welcome Screen */

.welcome-screen {
  padding: 30px;
  
}

.welcome-screen h1 {
  margin-top: 60px;
  font-size: 38px;
}

.welcome-screen p {
  font-size: 25px;
  margin: 70px 0 50px;
}

.welcome-screen button {
  margin-top: 50px;
  font-size: 20px;
}

/* Question Screen */

form button {
  display:block;
  margin: 40px auto 0
}

.answer-question {
  height: 250px;
}

.question-form p {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}

form input {
  display: inline-block;
  margin-top: 15px;
}

/*wrong and correct page */

.wrong-page h2, 
.correct-page h2,
.finish-page h2 {
  font-size: 30px;
}

.wrong-page > div.paragraph,
.correct-page > div.paragraph,
.finish-page > p {
  margin: 70px auto 50px;
}


@media screen and (min-width:768px) {
  .container {
    width: 550px;
    height:650px;
  }

  img {
    height: 230px;
  }

  .welcome-screen p {
    margin: 50px 0 50px;
    font-size: 40px;

  }

  .welcome-screen button {
    font-size: larger;
  }

  .question-form p {
    font-size: 25px;
    margin-bottom: 10px;
  }

  form input {
    display: inline-block;
    margin-top: 15px;
    
  }

  form label {
    font-size: 20px;
    
  }

  .wrong-page h2, 
  .correct-page h2,
  .finish-page h2 {
  font-size: 40px;
}

.wrong-page > div.paragraph,
.correct-page > div.paragraph,
.finish-page > p {
  margin: 70px auto 50px;
}

.submit-question {
  margin-top: 30px;
  
}

}

@media screen and (min-width: 1024px) {
  .container {
    width: 600px;
    height: 660px;
    margin-left: 200px
    
  }

  img {
    height: 230px;
  }

  .wrong-page h2, 
  .correct-page h2,
  .finish-page h2 {
  font-size: 60px;
}

.wrong-page > div.paragraph,
.correct-page > div.paragraph,
.finish-page > p {
  margin: 70px auto 50px;
  font-size: larger;
}
}